<div style='clear:both'></div>
<div class="footer">
    2011-2013 &nbsp;&nbsp;@正航科技股份有限公司&nbsp;&nbsp;版权所有<br />地址 ： 上海乐清市柳市镇柳市大厦&nbsp;&nbsp;邮编： 2000000 电话： 021-12345678 传真：021-12345678 E-mail: admin@zhenghang.com
</div>