<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/css.css">
    <style type="text/css">
        h2{
            text-align:center;
            width: 1100px;
            margin:50px auto;
            height: 50px;
            line-height:50px;
            border-bottom:1px solid #ccc;
        }
        .box{
            width: 1100px;
            height:auto;
            margin:0 auto;
            display:flex;
            justify-content:center;
        }
        .rbox{
            width: 900px;
            height: 420px;
        }
        .lbox{
            width: 200px;
            display:flex;
            justify-content:center;
            align-items: center;
            flex-wrap: wrap;
        }
        .lbox a{
            display:block;
            text-decoration:none;
            width: 200px;
            height: 60px;
            line-height:60px;
            text-align:center;
            font-size:30px;
            color:#888;
        }
        .lbox a:hover{
            background:#97C8FD;
        }
        .lbox a.first{
            background:#97C8FD;
        }
        .desw{
            margin-right: 10px;
            margin-bottom:15px;
        }
        .tit{
            margin-right:30px;
            text-decoration:none;
            margin-bottom:15px;
            font-size:15px;
        }
        .set{
            margin-right: 10px;
            margin-bottom:15px;
        }
        .rbox ul{
            margin-top:20px;
            margin-left:20px;
        }
        .rbox ul li{
            font-weight:700;
        }
        .tet-t{
            display:none;
        }
        .adds{
            margin-top:20px;
            margin-left:20px;
            margin-top:20px;
        }
        form{
            display:none;
            margin-top:20px;
            margin-left:20px;
            margin-top:20px;
        }
    </style>
</head>
<body>
    <h2>后台管理界面</h2>
    <div class="box">
        <div class="lbox">
            <a href="/frticle">banner管理</a>
            <a href="/grticle">company管理</a>
            <a href="/hrticle">简介管理</a>
            <a href="/irticle">用户信息管理</a>
            <a href="/jrticle" class="first">管理员管理</a>
            <a href="/krticle">news管理</a>
        </div>
        <div class="rbox">
            <ul>
                <% for(var i=0;i<aduse.length;i++){ %>
                    <li><input type="button" value="删除" class="desw" />用户名：<u class="tit usname"><%= aduse[i].username %></u>密 码：<u class="tit"><%= aduse[i].pwd %></u></li>
                <% } %>
            </ul>
            <input type="button" value="添加" class="adds" />
            <form>
                用户名：<input type="text" class="usn" />
                密 码：<input type="text" class="psd" />
                <input type="button" value="提交" class="tj" />
            </form>
        </div>
    </div>
    <script src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $('.desw').click(function(){
            var addata = $(this).siblings(".usname").html();
            // console.log(addata)
            $.ajax({
                url: '/des',
                type: 'POST',
                dataType: 'JSON',
                data: {decont: addata},
                success:function(data){
                    if(data.ok == true){
                        window.location.reload();
                        alert('删除成功')
                    }else{
                        alert('删除失败')
                    }
                }
            })
        });
        $('.adds').click(function(){
            $('form').css({'display':'block'});
        });
        $('.tj').click(function(){
            $.ajax({
                url: '/adtj',
                type: 'POST',
                dataType: 'JSON',
                data: {usena: $('.usn').val(),pwsd:$('.psd').val()},
                success:function(data){
                    if(data.ok == true){
                        window.location.reload();
                        alert('添加成功')
                    }else{
                        alert('添加失败')
                    }
                }
            })
        })
    </script>
</body>
</html>